version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "uv"
    directories:
      - "mirroring"
      - "vpn"
    schedule:
      interval: "monthly"
    groups:
      python-dependencies:
        patterns:
          - "*"
