name: Docker image mirroring

on:
  workflow_dispatch:
  schedule:
    - cron: "24 10 * * *"
  push:
    paths:
      - "mirroring/main.py"
      - "mirroring/images.txt"

jobs:
  Mirroring:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v5

      - name: Login to Docker Hub Registry
        uses: docker/login-action@v3
        with:
          username: "sgrtye"
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Login to Tencent Registry HK
        uses: docker/login-action@v3
        with:
          registry: "hkccr.ccs.tencentyun.com"
          username: "sgrtye"
          password: ${{ secrets.ALI_REGISTRY_PASSWORD }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python environment
        run: uv sync --locked
        working-directory: mirroring

      - name: Run Docker image mirroring script
        run: uv run main.py
        env:
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          PYTHONUNBUFFERED: "1"
        working-directory: mirroring